# WP çekirdek dışlamaları
wp-content/cache/
wp-content/uploads/
wp-content/upgrade/
wp-content/backups/
wp-content/ai1wm-backups/
wp-content/languages/*.mo
wp-config.php
*.log
*.sql
.sentry*
.DS_Store
node_modules/
vendor/
# --- Secrets & premium plugins ---
wp-content/plugins/fluent-booking-pro/
.env
.env.*
*.sql
*.sql.gz
